@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@200&family=Roboto:wght@700&display=swap');

* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.header-contenedor-top{
    background-color: black;
    color: #f3f3f3;
    

}
.header-list{
    display: flex;
    justify-content: flex-end;
    position: relative;
    color: #f3f3f3;
    top: -.5vh;
    font-size: 10px;
    list-style: none; /*Borrar los puntos de los listados*/
}
.header-contenedor-bot{
    background-color: #F0A83E;
    color: #ffffff;
    
    
}
.patita{
    position: relative;
    left: -2.5vw;
    top: 1.5vh;
    height: 50%;
}
.primer-logo{
    color:#3c2313;
    
}
.logo-base{
    color: #ffffff;
    font-size: 20px;
    font-weight: 700px;
    line-height: 23.44px;
    position: relative;
    left: 150px;
    top: 15px;


}
.menu23{
    position: relative;
    top:-2vh;
    left:-3vw;
    margin-left: 3vw;
}

.nav-links{
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    top:-35px;
    list-style: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 25px;
 


}
li{
    padding-left: 1vw;
    padding-right: 1vw ;
}
.frontcatanddog{
font-size: 20px;    
padding-top: 4vh;
padding-bottom: 1vh;
margin-left: 1vw;

}
h1{
    font-size: 23px;
text-align: center;
display: flex;
align-items: center;
margin-top: 20vh;
margin-left: 79vw;
background-color: #ffffff;
padding: 10px;
width: 15.5%;
}
.seccion-imagen-principal{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vw;
    background-image: url('bowl-and-pet-daities-on-green-background 1 (1).png');
    background-size:contain;
    background-repeat: no-repeat;
    
    
    
}
.comederos{
    text-align: center;
    margin-left: 74vw;
    font-size: 30px;
    margin-top: 15px;
    
}
.boton-comedor{
    text-align: center;
    background-color: #F0A83E;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    padding: 9px;
    margin-left: 84vw;
    margin-top: 15px;
    width: 5.5vw;

    
}
.patita{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    
}
ul{
    color:#3c2313;
}

.listado-datos{
    background-color: #3c2313;
    
}
.listado{
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
    list-style: none;
    color:#f3f3f3
    
    
}
.segundo-logo{
    color:#F0A83E;
}

.productos-destacados{
    font-size: 40px;
    display: flex;
    justify-content: center;
    
}
.menu-cac{
    display: flex;
    margin-top: 5vh;
    justify-content: center;
    color: darkgray;
}
.juguetes{
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5vh;
   
}
.patitaimg{
    
    width: 7vw;
}
.churrasquito{
    margin-right: 5vw;
}
.huesito{
    margin-left: 5vw;
}
.juguete1{
    position: relative;
    bottom: 8vh;
    text-align: center;
    font-size: 20px;
}
.comedero1{
    position: relative;
    bottom: 8vh;
    text-align: center;
    font-size: 20px;
}
.juguete2{
    position: relative;
    bottom: 8vh;
    text-align: center;
    font-size: 20px;
}
.juguetes3{
    
    height: 100%;
    width: 20vw;
}
#precio{
    position: relative;
    bottom: 7vh;
    color: #F0A83E;
    text-align: center;
}
.info{
    position: relative;
    bottom: 4vh;
    left: 2vw;
}
.info2{
    position: relative;
    bottom: 2vh;
    right: 1.5vw;
    font-size: 10px;
    color: darkgray;
}
.info3{
    position: relative;
    bottom: 2vh;
    right: 5vw;
    font-size: 10px;
    color: darkgray;
}
.LOGOFINAL{
display: flex;
justify-content: flex-end;
position: relative;
bottom: 10vh;
}
.h2-footer{
    text-align: center;
    color: #f3f3f3;
}
footer{
    background-color:black;
}